.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    align-items: center;
    justify-content: center;
}

.text {
    padding: 0 10px;
    width: 246px;
    text-align: justify ;
}

.button {
    align-items: center;
    justify-content: center;
}
.time{
    opacity: 0.5;
}